NODE_ENV=development

DATABASE_URL=postgres://postgres:postgres@localhost:5432/book_my_ticket
CLIENT_URL=http://localhost:3000

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret

BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_MAIL=your_verified_sender_email

SEND_MAILS=true